nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-element{
    margin-left:30%;
    margin-right:30%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    border-width:1px;
    border-style:solid;
    border-color:#A9A9A9;
    border-radius:10px;
    text-size:12;
    text-align:left;
}
.input-element{
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    border-width:1px;
    border-style:solid;
    border-color:#A9A9A9;
    border-radius:10px;
}
.input-balance{
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    border-width:1px;
    border-style:solid;
    border-color:#A9A9A9;
    border-radius:10px;
}
.home-button,.register-button,.contact-button{
    margin-left:40%;
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color:#2599FF;
    color:white;
    border-radius:10px;
    text-size:12;
}
a:link nav{
  color:black;
  text-decoration:none;
}
a:visited nav{
  color:black;
  text-decoration:none;
}
a:hover nav{
  color:blue;
  text-decoration:none;
}
.bandeau{
  background-color:#e0e0e0;
  height:50px;
}
.bandeau_text{

  vertical-align:sub;
}