.centered_section{
    display:grid;
    place-items:center;
}
tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}
#button_pay{
    background-color:#5cb85c;
    color:white;
    border-radius:10px;
    text-size:12;
    width:100px;
}
#button_add{
    float:inline-end;
    background-color:#0275d8;
    border-radius:10px;
    color:white;
    width:150px;
   }
.pagination{
   color:#0275d8;
}
.element_border{
  border:1px solid black;
  border-collapse:collapse;
}
.wrapper{
  display: grid;
  /*justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;*/
  grid-template-columns: repeat(5, 1fr);
  /*grid-gap: 10px;*/
  grid-row-gap: 10px; /* Espacement vertical entre les lignes */
  grid-column-gap: 10px;
}
.element1 {
   grid-column: 1;
   grid-row: 1;
}

.element2 {
  grid-column: 4/ 5;
  grid-row: 1;
}

.element3 {
  grid-column: 5 / 6;
  grid-row: 1;
}

.element4 {
  grid-column: 1 / 2;
  grid-row: 2;
}

.element5 {
  grid-column: 2 / 3;
  grid-row: 2;
}

.element6 {
  grid-column: 3 / 4;
  grid-row: 2;
}

.element7 {
  grid-column: 4 / 5;
  grid-row: 2;
}

.element8 {
  grid-column: 5 / 6;
  grid-row: 2;
}

.element9 {
  grid-column: 1 / 6;
  grid-row: 3;
}

table {
  table-layout: fixed;
  width: 60%;
 }

 th,
 td {
   padding: 20px;
 }

 .hiddenpopup {
       display: none;
       position: fixed;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       border: 1px solid #ccc;
       background-color: white;
       z-index:1000;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .viewedpopup{
    display: block;
    position: fixed;
           left: 50%;
           top: 50%;

           border: 1px solid #ccc;
           background-color: white;
           z-index:100;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }/**/
  #myTransactionsList a,
  #myTransactionsList a:visited,
  #myTransactionsList a:active{
    color:white;
  }