<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Pay my buddy Contact</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div><img th:src="@{/img/paymybuddy.PNG}" width="123" alt="Logo Pay my buddy" ></div>
        <div>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/}">Transfer</a>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/contact}">Contact</a>
            <a th:href="@{/logout}">Log off</a>
        </div>
    </nav>
</header>
<main>
    <section class="section-contact">
        <div class="bandeau">
            <p>Home / Contact</p>
        </div>
    </section>
    <section>
        <div class="form-element">
            <form method="post" th:action="@{/contact/save}" id="formulaire">
                <br>
            <div>
                <textarea th:name="message" placeholder="Enter your message" class="input-element" id="message" cols="40" rows="4"></textarea><br><br>
            </div>
            <div>
                <input type="submit" value="Send" class="contact-button"><br>
            </div>
            </form>
        </div>
    </section>
</main>
<footer>
</footer>
</body>
</html>