<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Pay my buddy Profile</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div><img th:src="@{/img/paymybuddy.PNG}" width="123" alt="Logo Pay my buddy" ></div>
        <div>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/}">Transfer</a>
            <a th:href="@{/profile}">Profile</a>
            <a th:href="@{/contact}">Contact</a>
            <a th:href="@{/logout}">Log off</a>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="bandeau">
            <p>Home / Profile</p>
        </div>
    </section>
    <section>
        <div>
            <form action="#" class="form-element" method="post" role="form" th:object="${profileForm}" th:action="@{/profile/updateEmail}" >

                <div>
                    <label for="email"></label><input
                        id="email"
                        th:name="email"
                        th:field="*{email}"
                        size=40
                        class="input-element"
                        placeholder="Enter your new email address"
                        th:value ="${profileForm.email}"
                />
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></p>

                    <button class="email-button" type="submit">Modify</button>
                </div>
            </form>
            <form action="#" class="form-element" method="post" role="form" th:object="${profileForm}" th:action="@{/profile/updatePassword}" ><!--th:object="${profileCurse}-->

            <div>
              <!---->      <label for="oldPassword"></label><input
                        id="oldPassword"
                        type="password"
                        th:name="oldPassword"
                        th:field="*{oldPassword}"
                        size=40
                        class="input-element"
                        placeholder="Enter your old password"
                        th:value ="${profileForm.oldPassword}"
                />
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>


                <label for="newPassword"></label><input
                       id="newPassword"
                       th:name="newPassword"
                       size=40
                       class="input-element"
                       placeholder="Enter your new password"
                       th:field="*{newPassword}"
                       type="password"
               />
               <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>

                   <label for="confirmPassword"></label><input
                       id="confirmPassword"
                       th:name="confirmPassword"
                       size=40
                       class="input-element"
                       placeholder="Confirm your new password"
                       th:field="*{confirmPassword}"
                       type="password"
               />
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>

                   <button class="password-button" type="submit">Modify</button>

                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>