<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Pay my buddy Register</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <div><img th:src="@{/img/paymybuddy.PNG}" width="123" alt="Logo Pay my buddy" ></div>
        <div>
            <a href="login.html">Home</a>
            <a href="transfer.html">Transfer</a>
            <a href="profile.html">Profile</a>
            <a href="contact.html">Contact</a>
            <a href="logoff.html">Log off</a>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="bandeau">
            <p>Home / Registration</p>
        </div>
    </section>
    <section>
<div>
    <div>
            <div class="form-element">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${registerForm}">

                    <div>
                        <label for="name"></label><input
                               id="name"
                               name="name"
                               size=40
                               class="input-element"
                               placeholder="Enter your name"
                               th:field="*{name}"
                               type="text"
                        />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}">
                        </p>
                    </div>
                    <div>
                        <label for="email"></label><input
                               id="email"
                               name="email"
                               size=40
                               class="input-element"
                               placeholder="Enter your email address"
                               th:field="*{email}"
                               type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}">
                        </p>
                    </div>
                    <div>
                        <label for="password"></label><input
                               id="password"
                               name="password"
                               size=40
                               class="input-element"
                               placeholder="Enter your password"
                               th:field="*{password}"
                               type="password"
                        />

                    </div>
                    <div>
                        <label for="confirmPassword"></label><input
                                id="confirmPassword"
                                name="confirmPassword"
                                size=40
                                class="input-element"
                                placeholder="Enter your password"
                                th:field="*{confirmPassword}"
                                type="password"
                        />
                        <p th:errors="*{confirmPassword}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>


                    <div>
                        <button class="register-button" type="submit">Register</button>
                        <span>Already registered? <a th:href="@{/login}">Login
                             here</a></span>
                    </div>
                </form>
            </div>

    </div>
</div>
        </section>
</main>
</body>
</html>